<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REsult Profile</title>
</head>
<body>
    <h1>Success !</h1>
    <h2>Your name is <%= data.name %></h2>
    <h2>language choosen : <%= data.language %></h2>
    <h2>your email address : <%= data.email %></h2>
</body>
</html>