<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="submit form">
        <label for="">Name ?</label>
        <input type="text" name="name" id="" value = "<%= data.name %>">
        <label for="">Language ?</label>
        <input type="text" name="language" id="" value="<%= data.language %>" >
        <label for="">Email ?</label>
        <input type="text" name="email" id="" value="<%= data.email %>">
        <label for="">Age ?</label>
        <input type="text" name="email" id="" value="<%= data.age %>">
        <button>Submit</button>
    </form>
</body>
</html>